<template>
  <div>
    <h1>Some user managing stuff</h1>
    <b-container class="mt-5" style="width: 600px">
      <b-form class="text-left" @submit.prevent="onSubmit" @reset.prevent="onReset()">
        <label>Name</label>
        <b-input class="helmes-input" v-model="name" placeholder="Name" required minlength="4"></b-input>

        <label>Sectors</label>
        <treeselect class="helmes-input" v-model="selectedSectors" :multiple="true" :options="sectors" :required="true"
                    v-if="sectors.length > 0"/>

        <div v-else>
          <p>Loading Sectors</p>
          <b-spinner></b-spinner>
        </div>

        <b-checkbox id="h-checkbox" class="ml-2" v-model="agreedWithTerms" :state="agreedWithTerms">
          Agree with Terms & Conditions
        </b-checkbox>
        <b-tooltip triggers="manual" target="h-checkbox" placement="bottomright" :show.sync="showRequiredTerms">
          You must agree with Terms!
        </b-tooltip>
        <b-button type="submit" class="mt-2 px-4 mr-3 font-weight-bold" variant="primary">Save Data</b-button>
        <b-button class="mt-2 px-4 mr-3 font-weight-bold" variant="outline-primary" @click="onLoad">Load last</b-button>
        <b-button type="reset" class="mt-2 px-4 font-weight-bold" variant="outline-danger">Clear</b-button>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Api from "@/api/Api"
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
  name: 'HelloWorld',
  components: {
    Treeselect
  },
  data: function () {
    return {
      name: null,
      agreedWithTerms: false,
      showRequiredTerms: false,
      sectors: [],
      selectedSectors: null
    }
  },
  methods: {
    onSubmit() {
      if (!this.agreedWithTerms) {
        this.showRequiredTerms = true
        return
      }

      Api.save(this.name, this.selectedSectors, this.agreedWithTerms).then((resp) => {
        this.$bvModal.msgBoxOk(resp.data, {
          title: 'Success'
        })
        this.name = null
        this.selectedSectors = null
        this.agreedWithTerms = false
      }).catch((err) => {
        console.log(err)
        this.$bvModal.msgBoxOk(err.response.data.message, {
          title: err.response.data.error
        })
      })
    },
    onReset(){
      this.name=null
      this.selectedSectors = []
      this.agreedWithTerms = false
    },
    onLoad() {
      Api.loadLast().then((resp) => {
        this.name = resp.data.name
        this.selectedSectors = resp.data.sectorIds
        this.agreedWithTerms = resp.data.agreedWithTerms

        this.$bvModal.msgBoxOk(`User '${resp.data.name}' was loaded successfully`, {
          title: "Loaded"
        })
      }).catch((err) => {
        console.log(err)
        this.$bvModal.msgBoxOk(err.response.data.message, {
          title: err.response.data.error
        })
      })
    }
  },
  watch: {
    agreedWithTerms() {
      this.showRequiredTerms = false
    }
  },
  created() {
    Api.getSectors().then((resp) => {
      this.sectors = resp.data
    }).catch((err) => {
      console.log(err)
      this.$bvModal.msgBoxOk(err.response.data.message, {
        title: 'Error occurred upon sectors fetching'
      })
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.helmes-input {
  margin: 0 10px 10px 0;
}
</style>
